.logo {
    margin: 10px;
    width: 125px;
}

.email {
    width: 150px;
    position: absolute;
    top: 75px;
    right: 0px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stats {
    width: 300px;
    margin: 10px;
}

/*BACKGROUND*/

body {
    background: url(img/flag-web.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*BODY*/

.container {
    background-color: white;
}

label {
    margin-left: 5px;
}

p {
    text-indent: 20px;
}

#button {
    margin: 10px;
}

.divider {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*READ MORE / READ LESS*/

button {
    margin: 15px;
}

/*HEADER + FOOTER*/

.navbar,
.navstyle,
.footer {
    background-color: darkred;
}


/*FOOTER*/

.text-center {
    color: white;
}

.footer {
    margin-top: 20px;
    padding: 10px;
}

/*LOADER*/

#loader,
#loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

#loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(128, 0, 0, 0.2);
    border-right: 1.1em solid rgba(128, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(128, 0, 0, 0.2);
    border-left: 1.1em solid darkred;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
